
@font-face {font-family: "iconfont";
  src: url('4-iconfont/iconfont.eot?t=1465874527'); /* IE9*/
  src: url('4-iconfont/iconfont.eot?t=1465874527#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('4-iconfont/iconfont.woff?t=1465874527') format('woff'), /* chrome, firefox */
  url('4-iconfont/iconfont.ttf?t=1465874527') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('4-iconfont/iconfont.svg?t=1465874527#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-money:before { content: "\e600"; }
.icon-back:before { content: "\e602"; }
.icon-apply-amount:before { content: "\e601"; }
