<section id='data' class='section-data'>
	<div class='row big-gap-bottom'>
		<div class='col-sm-8'>
			<div class='block-container'>
				<div class='row  small-gap-bottom'>
					<div class='col-xs-12 summary-label'>
						<i class='icon iconfont icon-money'></i>累计签约金额</div>
					<div class='col-xs-12 summary-number'>
						<span>2</span><i>,</i>
						<span>2</span>
						<span>0</span>
						<span>4</span><i>,</i>
						<span>2</span>
						<span>3</span>
						<span>1</span><i>,</i>
						<span>4</span>
						<span>5</span>
						<span>6</span>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-12 summary-label'>
						<i class='icon iconfont icon-apply-amount'></i>累计申请量</div>
					<div class='col-xs-12 summary-number'>
						<span>4</span>
						<span>4</span><i>,</i>
						<span>2</span>
						<span>0</span>
						<span>4</span><i>,</i>
						<span>3</span>
						<span>1</span>
						<span>3</span>
					</div>	
				</div>
			</div>
		</div>
		<div class='col-sm-4'>
			<div class='block-container'>
				<div class='row  block-summary'>
					<div class='col-xs-12 summary-label'>
						<i class='icon iconfont icon-money'></i>累计签约金额</div>
				</div>
				<div class='row  block-summary'>
					<div class='col-xs-12 summary-label'>
						<i class='icon iconfont icon-apply-amount'></i>累计申请量</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<!--tab block-->
			<div class='block-container'>
				<div class='row'>
					<div class='block-tab'>
						<button class='btn-contract-amount  active'>分时签约金额</button><button class='btn-register-amount'>分时注册客户数</button>
	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>